:root {
  --main-tile-color: #ff8000;
  --picked-tile-color: #007fff;
  --warning-tile-color: #B5121B;
  --success-tile-color: #a8ff00;
  --main-txt-color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303846;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}